
/* Your CSS Code here. */
.main{
				border-left: 10px solid green;

		}

		div{
			width: 200px;
			padding: 10px;
			font-size: 20px;
			color: white;

			background-color: purple;
		}
		.heading{
			text-decoration: underline;
			padding: 0px;
			
		}